```Zoe Klee Grice
Cell: 4252199622
[Email](zoegrice@yahoo.com)

###Skills
-Fast Learner
-Very Creative 
-Works well:
  -in groups
  -alone
-Loves to Learn New Things

###Work Experience
-Molbaks, Woodinville
-Student Store, Bothell High School, Bothell
-Jimmy John's, Bothell
-Magic Earth Art, Bothell
-Damselfly Oracle, Bothell
-Babysitting, Seattle Area

###Education
-Graduated Highschool, Northshore Networks
-Attended Bothell High School

###Achievements
-Have been *Employee of the Week* for **5 weeks in a row**
-Managed and taught Student Store/Retail Opperations, Bothell High
-Got a solo slot at a concert singing a song I wrote
-Started my own babysitting buisness at the age of 12
-My 1st backpacking trip was 3 weeks long
-Accomplished a **24-Hour** solo retreat on a beach
-Particpated in volunteer ecology projects
-An art piece of mine was chosen to be in an art show

```Glowing refences available upon request.
